/* Custom Fonts */
@font-face{
    font-family: Centra;
    src: url('./assets/fonts/CentraNo1-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: Centra;
    src: url('./assets/fonts/CentraNo1-Book.ttf') format('truetype') ;
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Centra;
    src: url('./assets/fonts/CentraNo1-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


/* Colors & Defaults */
*{
    --background-color: #FFFFFF;
    --accent-color1: #000000;
    --accent-color2: #128058;
    --accent-color3: #FF66C4;
    --text-color: #393939;

    margin:0;
    padding:0;

    box-sizing: border-box;;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body{
    font-weight: 200;
    overflow-x: hidden;
    position: relative;

    background: var(--background-color) !important;
    color: var(--accent-color1) !important;

    font-family: 'Centra', sans-serif !important;
}

p{
    color: var(--text-color) !important;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    line-height: normal;
}

a{
    text-decoration: none !important;
    color: var(--accent-color1) !important;
}


/* Navigation */
nav.navbar{
    width: 100%;
    padding: 2% 0;
    position: fixed;
    background: var(--background-color);
    border-bottom: 2px solid var(--accent-color1);
    z-index: 9999;
}

nav.navbar a.navbar-brand{
    width: 10%;
}

nav.navbar .navbar-nav{
    margin-left: auto;
}

nav.navbar .navbar-nav .navbar-link{
    padding: 0 1rem;
    font-weight: 200;
    color: var(--accent-color1) !important;
    letter-spacing: 0.8px;
    position: relative;
}

nav.navbar .navbar-nav .navbar-link::after{
    content: '';
    width: 0;
    height: 0.5px;
    background: var(--accent-color3) !important;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

nav.navbar .navbar-nav .navbar-link:hover::after{
    width: 100%;
}

.navbar-text{
    display: flex;
    justify-content: flex-end;
}

.social-icon img{
    width: 40px;
    height: 40px;
}

.social-icon a{
    margin: 0 1rem 0 0;
    border: 1px solid var(--accent-color1);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

nav.navbar .navbar-toggler{
    border-color: transparent;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


/* Header */
#header{
    padding: 10rem 2rem 1rem 2rem;
}

#header h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
}


/* Category and Song Items */
.category-item, .song-item{
    margin: 1rem 10%;
    padding: 1rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.category-item h3, .song-item h3{
    font-weight: 800;
    font-size: 1.2rem;
    margin: 0;
}

p{
    font-size: 1rem;
    font-weight: 200;
}


/*Guess-Display*/
#guess-display{
    margin: 0 0 2rem 0;
}

#song-title{
    margin: 0.5rem 0 0 10%;
    font-size: 2.2rem;
    font-weight: 200;
}

#guess-input, #search-input{
    margin: 2rem 0 2rem 10%;
    padding: 0.2rem;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--accent-color1);
    border-radius: 10px;
}

#score{
    margin: 2rem 12% 2rem 0;
    float: right;
    font-size: 1.3rem;
}

    /* Lyric-Table */
#lyric-display{
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
}

#lyric-table{
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;

    background: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#lyric-table tr{
    height: 1.5rem;
    border: 1px solid var(--accent-color1);
    text-align: center;
    font-weight: 200;
}

#lyric-table .missing{
    color: var(--accent-color3);
}

    /* Quit and Restart */
#guess-display button{
    width: 14rem;
    height: 1.5rem;
    margin: 1rem 0 0 10%;
    border: 1px solid var(--accent-color1);
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#quit-button:hover{
    background-color: var(--accent-color3);
}

#restart-button:hover{
    background-color: var(--accent-color2);
}


  @media (max-width: 991.98px) { /* Bootstrap Standard Breakpoint for lg */
    nav.navbar a.navbar-brand{
      width: 25%;
    }
  
    .navbar-nav .navbar-link {
      padding: 0.5rem;
      margin-left: 0;
    }
  
    nav.navbar .navbar-nav .navbar-link:hover::after{
      width: 20%;
    }
  
    .navbar-text {
      display: none;
    }

    #header{
        padding: 8rem 2rem 0.6rem 2rem;
      }

    #header h1{
        font-size: 2rem;
    }

    #song-title{
        font-size: 1.7rem;
    }
  }  


  